/* Created by: Grace S
 * Created on: Apr 2022
 * This CSS file defines the style for index.php
 * ICS2O-Unit3-04-PHP-FarenheitCelsius
*/

body {
	background-color: #edfafd;
}

h1 {
  background-color: #d5f4fa;
  text-align: center;
  padding: 20px;
}

form {
  background-color:#d5f4fa;
  padding: 20px;
}